core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
venv/*
venv/
kaggle.json
jupyter_notebooks/05 - Modeling and Evaluation - Predict SalePrice-not-include.ipynb
