core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
venv/*
venv/
kaggle.json
jupyter_notebooks/*.html
README-TEMP.md
README-TEMP-2.md
README_GREAT.md
jupyter_notebooks/Notebook_Template.ipynb